@use "../../../styles/mixins";

.heading {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 1.2rem;
        color: #54B1E3;
    }

    text-align: center;
}

.board {
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    flex-wrap: wrap;
    gap: 4rem;
}

.member {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    padding: 2.4rem;
    background-color: #eee;
    border-radius: 1rem;

    h1 {
        color: #333;
        text-transform: uppercase;
        font-size: 1.6rem;
    }

    h2 {

        color: #0B2847;
    }

    min-width: 400px;

    .memberIcon {

        background-color: #0B2847;
        padding: 0.7rem;
        border-radius: 0.4rem;
    }
}

.main {
    padding: 4rem;
}

@include mixins.mobile() {
    .board {
        padding: 0rem;
        padding-top: 4rem;
    }
}