@use "../../../styles/mixins";

.main {
    display: flex;
    flex-direction: row;

    gap: 30px;

    padding: 0px 5rem;
    margin-top: -12rem;
}

@include mixins.mobile() {
    .main {
        padding: 2rem;
        margin-top: 0;
        flex-direction: column;
    }
}