.main {
    text-decoration: none;
    color: white;
    background-color: #53B1E3;
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}